dfl @ git+https://github.com/researcheranonymous163/torent_dfl.git@2047325a846970b8e65063d42c71c856a26aee73
torch~=2.4.1
pympler
torchvision~=0.19.1
pyyaml
pandas
psutil
--extra-index-url https://pypi.tuna.tsinghua.edu.cn/simple
transformers
--extra-index-url https://pypi.tuna.tsinghua.edu.cn/simple
datasets
